html, body {
    background-color: #232024;
    color: #f5f6f7;
    margin: 0;
    font-family: 'Montserrat', sans-serif, verdana;
    width: 100%;
    min-width: 580px;
    --text-color: rgb(234, 230, 233);
    --text-color-blue: rgb(142, 211, 251);
    --header-color: rgb(109, 123, 235);
    --main-color: rgb(103, 150, 243);
    --background-color: rgba(12, 12, 12, 0.92);
    --grid-background-color: rgba(30, 30, 30, 0.8);
    --scroll-down-height: 400px;
    /* --background-color: rgba(39, 36, 58, 0.97);
    --grid-background-color: rgba(33, 32, 44, 0.8); */
}
/* body {
    display: flex;
    align-items: flex-start;
} */
div {
    padding: 0;
    margin: 0;
}
a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: 1000;
}
b {
    color: rgb(236, 237, 253);
}
.text-colored-main {
    color: var(--text-color-blue);
}

.content {
    width: 670px;
    min-width: 450px;
    background-color: var(--background-color);
    margin: 0;
    padding: 0 35px;
}

/* #introduction-talents {
    background-image: url(images/5.png);
}
#constellations-artifacts-talents {
    background-image: url(images/4.png);
} */
.main-section {
    background-image: url(images/5.png);
}
.main-section {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;}
.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: var(--text-color);
    padding: 0;
    margin: 0 10px;
}
h1, h2 {
    margin: 0 auto;
    text-align: center;
    margin: 20px 0;
    color: white;
    border-radius: 15px;
}
h1 {
    background-color: var(--header-color);
    padding: 20px;
    font-size: 30px;
    margin-top: 60px;
}
h2 {
    background-color: var(--main-color);
    padding: 10px;
}
iframe {
    margin: 0 auto;
    display: block;
    width: 480px;
    height: 270px;
}

#img-div {
    margin: 15px auto 10px auto;
    width: 70%;
    min-width: 300px;
    text-align: center;
    display: block;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 0 15px 0;
}

#image {
    margin: 0 auto;
    max-width: 100%;
    /* min-width: 350px; */
    height: auto;
    object-fit: contain;
    display: block;
}
.pros {
    grid-area: pros;
}
.cons {
    grid-area: cons;
}
.pros, .cons {
    display: flex;
    align-items: center;

}
.table-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 1000;
    background-color: var(--main-color);
    color: white;
}

#pros-cons-table {
    display: grid;
    grid-template-areas: 
        'pros .'
        'pros .'
        'pros .'
        'pros .'
        'pros .'
        'pros .'
        'pros .'
        'pros .'
        'cons .'
        'cons .';
    background-color: var(--grid-background-color);
    column-gap: 0px;
}
#pros-cons-description-child {
    padding: 0;
}
#pros-cons-table {
    margin: 0;
    padding: 0;
}
.pros-cons div {
    padding: 15px 20px;
    border: 1px solid var(--main-color)
}

.table-name {
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding: 5px 10px;
    /* font-size: 15px; */
}
.hover-brighten:hover {
    filter: brightness(250%);
    cursor: pointer;
}
.table-item {
    background-color: var(--grid-background-color);
    padding: 10px 10px;
    display: none;
}
#talents .table-item {
    grid-area: talents-item;
}
.table {
    column-gap: 4px;

}
#talents {
    display: grid;
    grid-template-areas: 
        '. . . . . .'
        'talents-item talents-item talents-item talents-item talents-item talents-item';
}
#combo-guidelines .table-item{
    border-bottom: 1px solid var(--main-color);
}

.item-header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
    gap: 15px;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    
}
.item-body {
    padding: 2px 16px;
}
.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 13px;
}
.subtitle p {
    padding: 0;
    margin: 0;
}
.table > div {
    vertical-align: middle;
    border: 1px solid var(--text-color);
}
.table > .interactive {
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.item-description {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.item-description h2 {
    margin: 0;
    padding: 10px 0;
}
.pressable {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: var(--main-color);
    padding: 3px 20px;
    user-select: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pressable:hover {
    cursor: pointer;
}
.pressable-child {
    display: flex;
    border: 1px solid var(--main-color);
    padding: 0 15px;
    font-size: 14px;
}
.pressable-child > div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pressable-child div p{
    margin: 0;
}
.rotating {
    animation-name: rotate-counter-clockwise-90;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.item-large {
    /* border: 1px solid var(--text-color); */
    padding-top: 20px;
    --scroll-down-height: 1500px;
}
.item-large ul {
    padding-left: 16px;
}
.item-large > .pressable {
    padding: 10px 20px;
    /* border-bottom-left-radius: 0%; */
    /* border-bottom-right-radius: 0%; */
}

.item-large > .pressable-child {
    background-color: var(--grid-background-color);
    padding: 10px 20px;
    font-size: 15px;
}
/* #combo-guidelines {
    margin: 15px;
}
#combo-guidelines li {
    margin-bottom: 12px;
} */

#tp-table {
    display: grid;
    grid-template-areas: 
        '. . . . . .'
        '. . . . . .';
    column-gap: 0px;
    /* border: 1px var(--main-color) solid; */
    /* border-bottom: 1px solid var(--text-color); */
}
#tp-table > div {
    text-align: center;
}
.constellations-item {
    grid-area: constellations-item;
}
#constellations {
    display: grid;
    grid-template-areas: 
        '. . . . . .'
        'constellations-item constellations-item constellations-item constellations-item constellations-item constellations-item';
    /* column-gap: 4px; */
    /* border: 1px var(--main-color) solid; */
    /* border-bottom: 1px solid var(--text-color); */
}

.artifacts-item {
    grid-area: artifacts-item;
}
#artifacts {
    display: grid;
    /* column-gap: 4px; */

    grid-template-areas: 
        '. . . .'
        'artifacts-item artifacts-item artifacts-item artifacts-item';
}
.weapons-item {
    grid-area: weapons-item;
}
#weapons {
    display: grid;
    /* column-gap: 4px; */

    grid-template-areas: 
        '. . . . . .'
        'weapons-item weapons-item weapons-item weapons-item weapons-item weapons-item';
}
#weapons img {
    max-width: 60px;
    object-fit: fill;
}
#weapons .item-header {
    margin-bottom: 0;
}
.elements-item {
    grid-area: elements-item;
}
#elements > .table-name img {
    max-width: 45px;
}
#elements {
    --main-color: rgb(70, 70, 70);
    display: grid;
    column-gap: 0px;
    grid-template-areas: 
        '. . . . .'
        'elements-item elements-item elements-item elements-item elements-item';
}
.character-sheet {
    font-size: 15px;
    line-height: 1.4;
}
.character-sheet p {
    margin-top: 6px;
    margin-bottom: 6px;
}
/* replace #hydro with class */
#elements .table {
    padding: 0;
    column-gap: 0px;
}
#elements .item-body {
    padding: 0;
}
#elements .item-body .item-header {
    justify-content: space-between;
    margin-right: 8%;
}
#elements > .table-item {
    padding: 0;
}
#elements > .table-item .interactive {
    border-radius: 0;
    padding: 8px;
}
#elements > .table-item .table {
    margin: 0;
}
#elements > .table-item .item-body .table-item{
    padding: 0 20px;
}
.character-img {
    max-width: 160px;
}
#elements .item-body ul {
    padding-left: 25px;
}
.hydro-item, .anemo-item, .cryo-item, .electro-item, .dendro-item {
    grid-area: table-item;
}
#hydro, #anemo {
    display: grid;
    grid-template-areas: 
        '. . .'
        'table-item table-item table-item';
}
#hydro {
    --main-color: rgb(103, 150, 243);
}
#anemo {
    --main-color: rgb(66, 194, 185);
}
#cryo {
    --main-color: rgb(124, 194, 217);
}
#electro {
    --main-color: rgb(166, 123, 217);
}
#dendro {
    --main-color: rgb(41, 173, 63);
}
#cryo, #dendro {
    display: grid;
    grid-template-areas: 
        '. . . .'
        'table-item table-item table-item table-item';
}
#electro {
    display: grid;
    grid-template-areas: 
        '. . . . .'
        'table-item table-item table-item table-item table-item';
}


.teams-item .item-header > img {
    max-width: 100%;
}
#ec-example4-child > img {
    max-width: 100%;
}
.stats-img {
    max-width: 80px;
}
#teams .table {
    column-gap: 0px;
}
.teams-item {
    grid-area: table-item;
}
#teams {
    display: grid;
    grid-template-areas: 
        '. . . . .'
        'table-item table-item table-item table-item table-item';
}


.team-stats {
    display: grid;
    grid-template-areas: 
        '. . . . .'
        'wep . . . .'
        'arti . . . .'
        'stat . . . .'
        'er . . . .';
}
#teams ul {
    padding-left: 16px;
}
#teams .pressable-child {
    padding: 0;
}
#teams .pressable-child > div {
    padding-top: 0;
}
.team-stats > div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--main-color)
}

.team-stats-img {
    grid-area: team-img;
}
.team-stats-wep {
    grid-area: wep;
}
.team-stats-arti {
    grid-area: arti;
}
.team-stats-stat {
    grid-area: stat;
}
.team-stats-er {
    grid-area: er;
}
#teams .subtitle {
    text-align: center  ;
}
#teams .pressable-child p {
    margin-left: 16px;
    margin-right: 16px;
}

#bloom-pros-cons, #hyperbloom-pros-cons {
    display: grid;
    grid-template-areas: 
        'pros .'
        'pros .'
        'pros .'
        'cons .'
        'cons .'
        'cons .';
}

#monohydro-pros-cons {
    display: grid;
    grid-template-areas: 
    'pros .'
    'pros .'
    'pros .'
    'cons .'
    'cons .'
    'cons .'
    'cons .';
}
#ec-pros-cons{
    display: grid;
    grid-template-areas: 
    'pros .'
    'pros .'
    'pros .'
    'pros .'
    'cons .'
    'cons .'
    'cons .';
}
#teams-item4 img {
    max-width: 100%
}
.appear {
    animation-name: appear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.disappear {
    animation-name: disappear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes appear {
    from {opacity: 0; max-height: 0px;}
    to {opacity: 1; max-height: var(--scroll-down-height);}
}
@keyframes disappear {
    from {opacity: 1; max-height: var(--scroll-down-height);}
    to {opacity: 0; max-height: 0px; display: none;}
}

@keyframes rotate-clockwise-90 {
    from {rotate: 0deg;}
    to {rotate: 90deg;}
}
@keyframes rotate-counter-clockwise-90 {
    from {rotate: 90deg;}
    to {rotate: 0deg;}
}
.rounded-bottom {
    animation-name: round-bottom;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.rounded-bottom-reverse {
    animation-name: round-bottom-reverse;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;    
}
@keyframes round-bottom {
    from {border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
    to {border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
}
@keyframes round-bottom-reverse {
    from {border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;}
    to {border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
}
#navbar {
    position: fixed;
    top: 60px;
    left: 40px;
    background-color: var(--background-color);
    width: 250px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid var(--main-color);
}
#navbar header {
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color)
}
#navbar a {
    color: white;
}
.table-of-contents-main {
    margin-bottom: 0;
    margin-top: 14px
}
.table-of-contents-sub {
    margin: 7px 0px 0px 15px;
    font-size: 15px;
}

#navbar-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    display: none;
}
#navbar-mobile h2 {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#navbar-mobile .pressable-child {
    background-color: var(--background-color);

}
#navbar-mobile a {
    color: var(--text-color);

}
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 600px) {
    html, body {
        min-width: 0px;
        /* --background-color: rgb(26, 26, 35); */
        /* --background-color: red; */
        --background-color: rgb(30, 30, 30);
        --grid-background-color: rgba(45, 45, 45, 0.8);
        background-color: var(--background-color);


    }
    #navbar-mobile .pressable-child {
        font-size: 18px;
    }
    body {
        padding-top: 40px;
    }
    .main-section {
        background-image: none;
    }
    .content {
      min-width: 0px;
      width: auto;
      padding: 0;
      margin: 0 10px;
      background-color: transparent;

    }
    #navbar {
        display: none;
    }
    .table {
        padding: 0 3px;
        margin: 0;
        column-gap: 2px;
    }
    #elements .table {
        padding: 0;
        column-gap: 0px;
    }
    .table-name {
        padding: 3px;
        font-size: 10px;
    }
    #elements > .table-name img {
    max-width: 30px;
    }
    .character-img {
        max-width: 20%;
    }
    h1 {
        font-size: 25px;
        padding: 15px;
        margin-top: 30px;
    }
    .character-sheet {
        font-size: 10px;
    }
    #elements .item-body .item-header {
        margin-right: 0;
    }
    #elements > .table-item .item-body .table-item{
        padding: 0 5px;
    }
    #elements > .table-item .item-body .item-header {
        padding: 0;
        padding-top: 10px;
    }
    .text {
        font-size: 12px;
    }
    .subtitle {
        font-size: 11px;
    }
    .stats-img {
        max-width: 40px;
    }
    .item-large > .pressable-child {
        font-size: 11px;
    }
    .team-stats {
        padding: 0px;
    }
    .team-stats > div {
        padding: 2px;
    }
    .item-body {
        padding: 2px 0;
    }
    #teams .pressable-child {
        font-size: 8px;
    }
    #teams .pressable-child p {
        margin-left: 8px;
        margin-right: 8px;
    }
    iframe {
        width: 272px;
        height: 153px;
    }
  }
@media only screen and (max-width: 1420px) and (min-width: 601px) and (orientation: landscape) and (max-height: 500px){
    #navbar {
        display: none;
    }
    /* html {
        transform: scale(0.7);
    } */
    body {
        zoom: 0.6;
        /* -moz-transform: scale(0.7); */
    }
}
@media only screen and (max-width: 1420px) and (min-width: 601px) {
    #navbar {
        display: none;
    }
  
}
@media only screen and (max-width: 1420px) {
    #navbar-mobile {
        display: block;
    }
}